# Dependencies
node_modules

# Build output
dist
.cache

# IDE files
.idea
*.iml

# Editor backup files
*.css~
*.js~
*.html~

# Python virtual env & cache
python_ai/.venv
python_ai/__pycache__
**/__pycache__
**/*.pyc
**/*.pyd

# OS
.DS_Store
Thumbs.db
